<div id="container-instructions">

	<h1>Instructions</h1>

	<hr />

	<div class="instructions well">

            <p>
               In this experiment, you will be shown a  total of <b>four videos</b> in which someone interacts with a robot in a Create Your Own Adventure Story. You will be shown <b>two story paths</b> in total, and two different character perspectives - third person and second person.<br>
               
							 Please watch the robot <b>closely</b> in all four videos. You will be asked to gauge your <b>engagement</b> and <b>enjoyment</b> of the stories dependent on the <b>perspective</b> the robot reads them.
               Please watch all videos attentively and answer all questions carefully.
            </p>

	    <script type="text/javascript">
	    //console.log(psiTurk.getInstructionIndicator())
	    </script>

	</div>

	<hr />


    <div class="instructionsnav">
        <div class="row">
            <div class="col-xs-2">
            	<!-- no previous button on first screen -->
            </div>
            <div class="col-xs-8">
            </div>
            <div class="col-xs-2">
                <button type="button" id="next" value="next" class="btn btn-primary btn-lg continue">
                Next <span class="glyphicon glyphicon-arrow-right"></span>
                </button>
            </div>
        </div>
    </div>

</div>